@import '_reset';
// Variable overrides first
$primary: #900;
$enable-shadows: true;
$prefix: "mo-";
// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";
#root{
    height: 100vh;
    width: 100%;
}
@import '_header';


